.container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  /*background: rgba(23, 183, 208, 0.04);*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 16px;
}
.wrap {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  align-items: center; 
}
.title {
  font-family: "One-Day", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: rgba(6, 34, 48, 0.8);
}
.box {
  display: flex;
  align-items: center; 
}
.input {
  width: 425px; 
  min-height: 40px;
  background: #FEFFFF;
  border: 1px solid #b9c8de;
  border-radius: 8px;
  font-family: "One-Day";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(6, 34, 48, 0.8);
}

.option {
  padding: 8px; 
  color: rgba(6, 34, 48, 0.8);
  font-family: "One-Day";
}
.selectedOption {
  background-color: orange; 
  color: white; 
}
.option:hover {
  background-color: lightgray; 
}
.active {
  background-color: orange; 
  color: white; 
}
.icon {
  margin-left: 8px; 
  transition: transform 0.3s; 
  fill: black;
}
.opened {
  transform: rotate(180deg); 
}