.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selectedDate {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
 
  .disabledTile {
  
    color: rgba(100, 100, 100, 0.5); 
    pointer-events: none;
  }
 
  .react-calendar__tile--disabled {
    pointer-events: none; 
  }
  .react-calendar__tile--disabled:hover {
    background-color: rgba(200, 200, 200, 0.5); 
    color: rgba(100, 100, 100, 0.5); 
  }

  
  .react-calendar__month-view__days button {
    border-radius: 50%;
  }